In [2]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [20]:
def crete_dataset(df, col_thr=100, row_thr=100):
    col_nan = pd.DataFrame(df.isnull().sum()*100/df.shape[0], columns=['percent_nan'])
    cols = col_nan[col_nan['percent_nan'] <= 100 - col_thr].index
    row_nan = df.isnull().sum(axis=1)*100/df.shape[1]
    rows = row_nan[row_nan <= 100 - row_thr].index
    return df.loc[rows, cols].reset_index(drop=True)

In [21]:
df = pd.read_csv('df_outer_full.csv')

In [22]:
df = crete_dataset(df, col_thr=100, row_thr=100)

In [23]:
df

             City         Country      Lat      Long  Population
0        Istanbul          Turkey  41.0100   28.9603  15154000.0
1        Helsinki         Finland  60.1756   24.9342    642045.0
2           Milan           Italy  45.4669    9.1900   1351562.0
3     Guadalajara          Mexico  20.6767 -103.3475   5253000.0
4     Mexico City          Mexico  19.4333  -99.1333  20996000.0
5            Rome           Italy  41.8931   12.4828   2872800.0
6       Monterrey          Mexico  25.6667 -100.3000   4295000.0
7       Amsterdam     Netherlands  52.3500    4.9166   1031000.0
8           Paris          France  48.8566    2.3522  11020000.0
9          Austin   United States  30.3004  -97.7522   1687311.0
10      Singapore       Singapore   1.3000  103.8000   5745000.0
11       Auckland     New Zealand -36.8500  174.7833   1467800.0
12          Tokyo           Japan  35.6897  139.6922  37977000.0
13         Boston   United States  42.3188  -71.0846   4688346.0
14        Chicago   United States  41.8373  -87.6862   8604203.0
15           Oslo          Norway  59.9111   10.7528    693494.0
16         Bogot√°        Colombia   4.6126  -74.0705   9464000.0
17         Munich         Germany  48.1372   11.5755   1471508.0
18         London  United Kingdom  51.5072   -0.1275  10979000.0
19    Los Angeles   United States  34.1139 -118.4068  12750807.0
20          Seoul     South Korea  37.5833  127.0000  21794000.0
21         Warsaw          Poland  52.2167   21.0333   1790658.0
22         Prague         Czechia  50.0833   14.4167   1324277.0
23   Kuala Lumpur        Malaysia   3.1478  101.6953   8285000.0
24  New York City   United States  40.6943  -73.9249  18713220.0
25     Copenhagen         Denmark  55.6786   12.5635   1085000.0
26      Hong Kong       Hong Kong  22.3050  114.1850   7347000.0
27       Portland   United States  45.5372 -122.6500   2074775.0
28         Lisbon        Portugal  38.7452   -9.1604    506654.0
29        Beijing           China  39.9050  116.3914  19433000.0
30      Cape Town    South Africa -33.9250   18.4250    433688.0
31       Budapest         Hungary  47.4983   19.0408   1752286.0
32      Barcelona           Spain  41.3825    2.1769   4588000.0
33  San Francisco   United States  37.7562 -122.4430   3592294.0
34        Seattle   United States  47.6211 -122.3244   3789215.0
35      Bucharest         Romania  44.4000   26.0833   1883425.0
36         Madrid           Spain  40.4189   -3.6919   3266126.0
37         Vienna         Austria  48.2083   16.3731   1840573.0
38         Taipei          Taiwan  25.0478  121.5319   2684567.0
39       Shanghai           China  31.1667  121.4667  22120000.0
40      Stockholm          Sweden  59.3294   18.0686    972647.0
41   Buenos Aires       Argentina -34.5997  -58.3819  16157000.0
42      S√£o Paulo          Brazil -23.5504  -46.6339  22046000.0
43         Dublin         Ireland  53.3425   -6.2658   1173179.0
44         Z√ºrich     Switzerland  47.3786    8.5400    434008.0
45       Brisbane       Australia -27.4678  153.0281   2514184.0
46       Brussels         Belgium  50.8467    4.3517    185103.0
47      Melbourne       Australia -37.8136  144.9631   5078193.0
48          Perth       Australia -31.9522  115.8589   2059484.0
49         Sydney       Australia -33.8650  151.2094   5312163.0